<!DOCTYPE html>
<html>
  <head>
    <title>123132</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <!--<form action="users" method="post">-->
    <!--<p>需要爬取的文章数<input type="text" name="num" /></p>-->
    <!--<input type="submit" value="Submit" id="btn"/>-->
  <!--</form>-->
  <% for (i in title){ %>
        <%= title[i] %><br>
  <% } %>
  <!--<%= title[1] %>-->
  <script>
//    document.getElementById('btn').onclick=function () {
//        alert(132);
//    }
  </script>
  </body>
</html>
