<!DOCTYPE html>
<html>
<head>
    <title>123132</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form action="/index" method="post">
<p>需要爬取的文章数<input type="text" name="num" /></p>
<input type="submit" value="Submit" id="btn"/>
</form>
<script>
</script>
</body>
</html>
